body {
    background-color: #272e29;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: white;
}

table {
    width: 500px;
    background-color: white;
    margin: auto;
    border-spacing: 0;
    border: none;
    border-radius: 8px;
}

td .pfp {
    height: 400px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

li {
    margin-left: 2px;
    margin-right: 2px;
}

.pfp {
    scale: 90%;
}

.logo {
    width: 40px;
}

#login span {
    font-size: x-large;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

#sentence span {
    color: #424e45;
    font-size: large;
    display: block;
    margin-bottom: 20px;
}

#contact a {
    color: white;
    background-color: black;
    font-size: large;
    font-weight: bold;
    text-decoration: none;

    display: block;
    border-radius: 0 0 8px 8px;
    padding-top: 20px;
    padding-bottom: 25px;
}

#contact a:hover {
    background-color: #79af77;
}

#contact a:active {
    background-color: #567c54;
}
