body {
    background-color: rgb(172, 255, 255);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#balloon {
    background-color: red;

    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#balloon:hover {
    cursor: pointer;
}